<%- include('../partials/header') %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Mongoose Flights</h1>
    <p>Book your flight and travel to a dream destination</p>
  </body>
</html>

<%- include('../partials/footer') %>